<div class="container">
    <div class="jumbotron" style="text-align:center;">
      <h1>Welcome</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada felis lectus, vitae consectetur enim ullamcorper vel. Phasellus aliquam turpis non iaculis pretium.</p>
      <%= link_to "Sign up", "", class: "btn btn-lg btn-success" %>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            <h4>Recipes</h4>
            <h6>Phasellus aliquam turpis non iaculis pretium. Mauris magna nisi, aliquet vel ante at, pharetra mattis tortor. </h6>
            <p><%= link_to "Browse recipes", "", class: "btn btn-warning btn-small" %></p>
        </div>
        <div class="col-md-4">
            <h4>Recipes</h4>
            <h6>Phasellus aliquam turpis non iaculis pretium. Mauris magna nisi, aliquet vel ante at, pharetra mattis tortor. </h6>
            <p><%= link_to "Browse recipes", "", class: "btn btn-warning btn-small" %></p>
        </div>
        <div class="col-md-4">
            <h4>Recipes</h4>
            <h6>Phasellus aliquam turpis non iaculis pretium. Mauris magna nisi, aliquet vel ante at, pharetra mattis tortor. </h6>
            <p><%= link_to "Browse recipes", "", class: "btn btn-warning btn-small" %></p>
        </div>
    </div>
</div>